<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Menu">
      <i class="fa fa-bars"></i>
    </md-button>
    <div class="menu" layout="row" layout-align="center">
      <md-button ui-sref="home">Home</md-button>
        <md-button ui-sref="user.login">User</md-button>
         <md-button ui-sref="partners.list">Partners</md-button>
    </div>
    <span flex></span>
    <md-button aria-label="User">
      <i class="fa fa-user"></i>
    </md-button>
  </div>
</md-toolbar>

